.navbar-brand {
  font-size: 1.8rem;
  color: #377DFF !important;
}

.buttons-auth {
  display: flex;

  .login-btn {
    padding: 0.4rem;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .login-btn:first-child {
    margin-right: 1rem;
  }
}
